<div class="container-fuild pt-5 pb-5">
    <div class="col-12">

        <div class="card shadow mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p class="card-text col-4"><strong>Practice : </strong></p>
                    </div>
                    <div class="col-4">
                        <p class="card-text col-4"><strong>Doctor :</strong> </p>
                    </div>
                    <div class="col-4">
                        <p class="card-text col-4"><strong>Date : </strong></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>